<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>488481524068-ebqpaa8rehs775n53tp3no0qh7urmfb0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFwvRcfaBrhiq1Hx3cnwkjVJJAAtoeouA</string>
	<key>GCM_SENDER_ID</key>
	<string>488481524068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrtask</string>
	<key>PROJECT_ID</key>
	<string>mamatender-cf27f</string>
	<key>STORAGE_BUCKET</key>
	<string>mamatender-cf27f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488481524068:ios:2cabbf0c9ee531036e1271</string>
	<key>DATABASE_URL</key>
	<string>https://mamatender-cf27f-default-rtdb.firebaseio.com</string>
</dict>
</plist>